$darkNeutral: #333;
$lokiGreen: #179374;
$anansiPurple: #5E405F;
$lightNeutral: #eee;
$brand2: #3D9982;
$coolContrast: #909EAE;
$fontStack: Helvetica, Arial, sans-serif;
$brandFont: "brandon-grotesque";