<header class="globalHeader">
  <nav class="hiddenNav" ng-controller="modalLoginCtrl">
    <a href="" class="menuBtn" ng-click="open()"><i class="fa fa-circle"></i></a>
  </nav>
  <div class="row">
    <a href="/" class="logo"></a>
    <nav class="topNav">          
      <ul>
        <li><a href="">About</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Research</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
<div bg-full class="heroContent">
	<div class="row">
		<h1 style="text-align:center;">Consulting for the Modern Super Criminal</h1>
	</div>
</div>