<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js"> <![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>MEAN Blog</title>
    <meta name="description"dsdfgsdfgs content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
</head>
  <body ng-app="lokiAnansi">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header class="globalHeader">
      <nav class="hiddenNav">
        <a href="" class="menuBtn"><i class="fa fa-bars"></i></a>
      </nav>
      <div class="row">
        <a href="" class="logo"></a>
        <nav class="topNav">          
          <ul>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Research</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </nav>
      </div>

    </header>
    <div ui-view></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->



    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/jquery.js"></script>

        <!-- build:js(app) scripts/modules.js -->
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/Auth.js"></script>
        <script src="scripts/services/Blogs.js"></script>
        <script src="scripts/services/Session.js"></script>
        <script src="scripts/services/User.js"></script>
        <script src="scripts/directives/fullpage.js"></script>
        <script src="scripts/directives/mongooseError.js"></script>
        <script src="scripts/directives/onFocus.js"></script>
        <script src="scripts/directives/uniqueUsername.js"></script>
        <script src="scripts/controllers/blogs.js"></script>
        <script src="scripts/controllers/register.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/main.js"></script>
        
        <!-- endbuild -->
        <script type="text/javascript" src="//use.typekit.net/uwi8lgc.js">
        </script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</body>
</html>
